<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="businessUser.Createdeal"/>
     
         <class name="businessUser.DailyDeals"/>
      
         <class name="businessUser.DealWithMobile"/>
         <class name="businessUser.Event"/>
         <class name="businessUser.LoyaltyCard"/>
      
         <class name="admin.DealsAdmin"/>
       <class name="admin.DailyDealsAdmin"/>
      <class name="admin.EventAdmin"/>
      <class name="admin.LoyaltyCardAdmin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
